/* ---HEADER--- */
#header{
    background-color: white;
    padding:15px 0px;
    font-style: bold;
    color: var(--cl-textprimary);
}
/* NAV */
#nav {
    width: 100%;
    height: 68px;
    background-color:var(--cl-primary);
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content:center;
}

.nav-list__item > a.active {
    color: red;
}

.nav-list__item {
    margin-right: 40px;
    position: relative;
}

.nav-list__item >a {
    color: white;
    font-weight: 600;
    font-size: 20px;

}

.nav-list__item > i {
    color: #fff;
    padding-left: 6px;
    padding-right: 0px;
}

.nav-list__item:hover > ul.nav-item__down {
    display: block;
    transition: 0.5s ease;
    
}
.nav-list__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 22px;
    top: 14px;
}
.nav-list__item.active a{
    color: red;
}

.nav-list__item a:hover,.nav-item__down-item a:hover {
    color: red;
    transition: 0.3s ease;
}
.nav-list__item:hover > a {
    color: red;
}
.nav-item__down {
    position: absolute;
    box-shadow: 0 0 2px 2px #c1c1c1;
    width: 250px;
    top: 35px;
    left: 0px;
    display: none;
    z-index: 12;
    background: #fff;
}

.nav-item__down-item {  
    border-bottom: 1px solid #c1c1c1;
    position: relative;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
}
.nav-item__down-item i.fas.fa-chevron-right {
    position: absolute;
    right: 15px;
}

.nav-item__down-item:hover .nav-list__down {
    display: block;
}

.nav-item__down-item:hover > a {
    color: red;
}

.nav-list__down {
    position: absolute;
    right: -100%;
    top: 0;
    background: #fff;
    width: 200px;
    display: none;
    box-shadow: 0px 0px 6px rgb(79 95 120 / 10%);
}

.nav-item__down-item a{
    color: var(--cl-text);
    font-size: 16px;
    padding: 10px 10px;
    display: block;
}

.header__logo {
}

.user{
    position: relative;
    color: var(--cl-textprimary);
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}

.user > a{
    color: white;
}

.user:hover > .group-login {
    z-index: 2;
    display: block;
    color: var(--cl-textprimary);
}

.user::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    top: 15px;
    right: -60px;
    z-index: 3;
}

.group-login {
    position: absolute;
    width: 160px;
    box-shadow: 0px 0px 6px rgb(79 95 120 / 10%);
    right: -80px;
    top: 22px;
    background-color: #fff;
    display: none;
    z-index: 2;
}

/* END CART */
.group-login__list-item b {
    padding: 15px;
    display: block;
}

.group-login__list-item:first-child {
    border-bottom: 1px solid #c1c1c1;
    font-size: 14px;
    text-align: center;
}

.group-login__list-item a{
    color: var(--cl-title);
    display: block;
    padding: 10px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
.group-login__list-item a:hover {
    color: var(--cl-red);transition:0.2s ease;
}

/* ---FOOTER--- */
#footer{
    background-color: var(--cl-primary);
    padding:15px 0px;
    font-weight: 500;
    font-style: bold;
    color: white;
    text-align:center;
}

#footer > p:first-child {
    margin-bottom: 15px;
}

/* --SLIDER-- */
#slider {
    width: 100%;
    height: 500px;
}
.slider-list {
    position: relative;
    overflow-x: hidden;
}
.slider-list .owl-stage {
    display: flex;
}

.slider-list .owl-nav {
    display: none;
}
.slider-list__item {
    
}
#slider .owl-dots {
    display: flex;
    justify-content: center;
}
section#slider button.owl-dot {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(0, 54, 8);
}
section#slider button.owl-dot.active {
    background: var(--cl-green);
}

.slider-list__item a {
    width: 100%;
    display: block;
}

.slider-list__item > a > img {
    width: 100%;
    height: 470px;
    border-radius:10px;
}

/* ---Content-Help--- */
#content_home {
    margin-top: 50px;
}

.content_home_top {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-top:15px;
    margin-bottom: 10px;
}

.big-hotline {
    height: 34px;
    background-color: rgba(255, 255, 255, 0.9);
    top: -55px;
    right: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: red;
}

.slogan-left {
    text-transform: uppercase;
    font-size: 24px;
}

.bg-yellow {
    background: #FF9326;
    border-color: #F77B00;
    color: #fff;
    font-weight: 600;
}

.bg-yellow h5 {
    color: #fff;
    font-weight: 700;
    padding: 10px 14px 10px 15px;
}

.bg-yellow p {
    font-weight: 700;
    padding: 8px 10px 5px;
    line-height: 27px;
}

.big-a {
    margin: 0 0 13px;
}

.big-a > a {
    font-size: 18px;
    padding: 10px 14px 10px 15px;
    font-weight: 500;
}

/* Help new */

#product-fruits button.owl-dot, 
#product-sale button.owl-dot, 
#product-cate button.owl-dot, 
#product-dry button.owl-dot{
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
    height: 6px;
}

#product-fruits button.owl-dot.active ,
#product-cate button.owl-dot.active ,
#product-sale button.owl-dot.active ,
#product-dry button.owl-dot.active{
    background: var(--cl-green);
}
#product-fruits .owl-nav, 
#product-cate .owl-nav, 
#product-sale .owl-nav, 
#product-dry .owl-nav, 
#product-sale-slider .owl-nav {
    /* display: none; */
    font-size: 31px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -253px;
}
#product-sale-slider .owl-nav {
    top: -271px;
}


#product-fruits .owl-nav button, 
#product-dry .owl-nav button,
#product-sale .owl-nav button,
#product-cate .owl-nav button,
#product-sale-slider .owl-nav button{
    cursor: pointer;
}
#product-fruits ,
#product-cate ,
#product-sale ,
#product-dry{
    margin: 30px 0;
    padding:20px 0;
}

#owl-fruilt-slider, 
#owl-slider-dry ,
#owl-slider-cate ,
#product-sale-slider{
    overflow-x: hidden;
}

#owl-fruilt-slider .owl-stage, 
#owl-slider-dry .owl-stage,
#owl-slider-cate .owl-stage,
#product-sale-slider .owl-stage{
    display: flex;
}


.product-sale-top {
    width: 50%;
    margin: auto;
    display: flex;
    padding-bottom: 25px;
    padding-top:25px;
    text-align:center
}

.product-sale-text a {
    font-weight: 800;
    font-size: 30px;
    color: var(--cl-orange);
    padding-bottom: 7px;
    display: block;
}

.product-sale-text {
    margin-right: 30px;
}


div.wrapper-count {
    display: flex;
}

  .countdown-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 12px;
  }
  
  .countdown-block:last-child {
    margin-right: 0;
  }

  
  .time-elem {
    position: relative;
    color: #fff;
    position: relative;
    height: 44px;
    width: 54px;
    background-color: var(--cl-primary);
    border-radius: 8px;
    text-align: center;
    font-size: 2.4em;
    overflow: hidden;
    margin-bottom: 27px;
    line-height: 42px;
    -webkit-box-shadow: 0px 8px 0px 0px #16151d;
    box-shadow: 0px 8px 0px 0px #16151d;
  }
  
  .time-elem::before, .time-elem::after {
    content: '';
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    background: var(--cl-primary);
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .time-elem::before {
    left: -5px;
  }
  
  .time-elem::after {
    right: -5px;
  }
  
  .time-elem > span {
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .top {
    z-index: 3;
    background-color: var(--cl-primary);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: perspective(200px);
            transform: perspective(200px);
  }
  
  .time-elem .top::after, .time-elem .bottom-back::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #24242e;
  }

  .bottom {
    z-index: 1;
  }
  
  .bottom::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #33354d;
  }
  
  .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: var(--cl-primary);
  }
  
  .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .top, .top-back {
    height: 50%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .top-back {
    z-index: 4;
    bottom: 0;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    background-color: var(--cl-primary);
    -webkit-transform: perspective(200px) rotateX(180deg);
            transform: perspective(200px) rotateX(180deg);
  }
  
  .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .social {
    position: absolute;
    bottom: 56px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0;
  }
  
  .social li {
    margin-right: 32px;
  }
  
  .social li a path {
    -webkit-transition: fill .3s ease;
    transition: fill .3s ease;
  }
  
  .social li:last-child {
    margin-right: 0;
  }
  
  .social a:hover path {
    fill: #fb6087;
  }
  

  .product-sale-top {
    width: 50%;
    margin: auto;
    display: flex;
    padding-bottom: 25px;
}

.product-sale-text a {
    font-weight: 800;
    font-size: 30px;
    color: var(--cl-orange);
    padding-bottom: 7px;
    display: block;
}

.product-sale-text {
    margin-right: 30px;
}

.product-img{
    position: relative;
    width: 100%;
    border: 1px solid var(--cl-primary);
    text-align: center;
    overflow: hidden;
}


.col-product__item.product-item__sale-off--none .product-item__sale-off,
.col-product__item.product-item__sale-off--none .price-old,
.col-product__item.product-item__sale-off--none .text-sale,
.col-product__item.product-item__sale-off--none .product-img::after,
.col-product__item.product-item__sale-off--none::after{
    display: none;
}

.col-product__item.product-item__sale-off--none .product-img {
    border: none;
}

.col-product__item.product-item__sale-off--none:hover .button-add-product {
    top: -2px;
}


.product-item__sale-off{
    
    font-size: 14px;
    color: #fff;
    position : absolute;
    text-align: center;
    z-index: 1;
    left : 0;
    top : 0;
    background-color: var(--cl-red);
    width : 40px; 
    height : 36px;
}

.product-item__sale-off.product-item__sale-off--none {
    display: none;
}

.product-img::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 70px;
    color: #fff;
    bottom: 0px;
    background-color: #f41f09;
    left: 0px;
    clip-path: circle(52.5% at 2% 99%);
    line-height: 40px;
}
p.text-sale {
    position: absolute;
    left: 0;
    z-index: 1;
    color: #fff;
    bottom: 5px;
}
.product-img img{
    width: 100%;
    height: 312px;
}

.product-item-icon{
    transition: ease-in 0.2s;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    top :3px;
    right: -30px;
    visibility: hidden;
    color: red;
}

.col-product__item:hover .product-item-icon{
    visibility: visible;
    right: 20px;
    top: 10px;
}

.icon-heart-product:hover ,.product-item-icon:hover,
i.far.fa-heart.icon-heart-i:hover,
.icon-heart-element--active{
    color: var(--cl-red);
    cursor: pointer;
}

.product-fruits__infos {
    text-align: center;
}
  
.tilte-name-product-t {
    font-weight: 600;
    height: 0px;
    color: var(--cl-black);
}

/* ---WorkNew--- */

.work_new_content{
    display: flex;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.work_new_content {
    display: flex;
}

.work_new_content_img img {
    width: 100px;
    height: 100px;
}

.work_new_content_right {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.work_new_content > a:hover {
    color: black;
    text-decoration: none;
}

.work_new_name {
    color: var(--cl-text);
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.work_new_detail{
    padding-bottom: 10px;
    color: var(--cl-text);
}

.work_new_left_work {
    width: 50%;
}

.work_new_right_newspaper {
    width: 50%;
}

.nav-item__down {
    position: absolute;
    box-shadow: 1px 2px 8px #c1c1c1;
    width: 200px;
    top: 42px;
    left: 0px;
    display: none;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    animation: animation ease-in 0.3s;
    
}
@keyframes animation {
    from{
        opacity: 0;
      
    }
    to{
        opacity: 1;
      
    }
}
.nav-list .nav-list__item:hover .nav-item__down{
    opacity: 1;
    z-index: 12;
    border-top: 3px solid red;
}